.collection{
    overflow: hidden;
}

.collection__title{
    margin: 0 auto;
    padding: 1.2rem 1rem;
    width: 90vw;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.movie-carousel{
    position: relative;
    display: flex;
    align-items: center;
}

.movie-carousel__list{
    display: flex;
}

.movie-carousel__item{
    padding: 0 1rem 2.5rem;
    width: calc(90vw/5);
    opacity: 0.5;
}

.movie-carousel__item.active{
    opacity: 1;
}

.movie-carousel__link{
    position: relative;
    display: block;
    transition: 0.3s;
}

.movie-carousel__link:hover{
    transform: scale(1.08);
}

.movie-carousel__link::before{
    content: "";
    position: absolute;
    border: 0.2rem solid rgba(255, 255, 255, 0);    
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}
.movie-carousel__link:hover::before{
    border-color: rgba(255, 255, 255, 0.7);
}


.movie-carousel__img{
    display: block;
    border-radius: 0.3rem;
    width: 100%;
    box-shadow: 0rem 2rem 1rem -1rem rgba(0, 0, 0, 0.7);
}

.movie-carousel .arrow-slider{
    position: absolute;
    padding: 0 1.6vw;
    margin-top: -2.5rem;
}
.movie-carousel .arrow-slider--left {
    left: 0;
}
.movie-carousel .arrow-slider--right {
    right: 0;
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    .movie-carousel__item{
        width: calc(90vw/3);
    }    
}
@media screen and (max-width: 600px) {
    .movie-carousel__item{
        width: calc(90vw/2);
    }    
}